<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Argus Music Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1> Argus Music Recommendation </h1>

    <div>
        <video autoplay loop class="back-video" muted plays-inline>
            <source src="{{ url_for('static',filename='css/black.mp4') }}" type="video/mp4">
        </video>
    </div>

    <div class="content">
        <form action="{{ url_for('predict') }}" method="post">

            <input type="text" name="name" placeholder="Name of the Song" required="required">
            <input type="number" name="year" placeholder="Year of Release">

            <div>
                <button type="submit" class="button">Recommend</button>
            </div>

            <div class="feedback">
                <button class="feedback_button_like">
                    <i class="fa fa-thumbs-up"></i>
                </button>

                <button class="feedback_button_dislike">
                    <i class="fa fa-thumbs-down"></i>
                </button>
            </div>

            <div class="output">
                {{ prediction_text }}
            </div>

        </form>
    </div>
</body>
</html>